huggingface_hub==0.11.1
langchain
langchain_community
langchain-text-splitters
langchain_huggingface
sentence-transformers
faiss-cpu
pypdf
pymupdf
bs4
arxiv
wikipedia
langchain-openai
langchain-ollama
openai
streamlit
fastapi
uvicorn
langserve[all]
ipykernel
python-dotenv
tensorflow
keras
tf-keras
pipdeptree
