pipdeptree
langchain-cohere>=0.3.0
langchain>=0.3.25
langchain-community>=0.3.26
langchain-text-splitters>=0.3.0
sentence-transformers
langchain_groq
faiss-cpu>=1.7.4
pypdf>=4.0.0
cohere>=5.0.0
pymupdf
bs4
arxiv
wikipedia
langchain-openai
langchain-ollama
openai
streamlit
fastapi
uvicorn
langserve[all]
ipykernel
python-dotenv>=1.0.0
tensorflow
keras
tf-keras
