pipdeptree
huggingface_hub>=0.30.2
langchain>=0.3.25
langchain_community>=0.3.26
langchain-text-splitters
langchain_huggingface>=0.3.0
sentence-transformers
faiss-cpu
pypdf
pymupdf
bs4
arxiv
wikipedia
langchain-openai
langchain-ollama
openai
streamlit
fastapi
uvicorn
langserve[all]
ipykernel
python-dotenv
tensorflow
keras
tf-keras
